%table.table
  %tr
    %td
      %p=question.description.html_safe
      %ol.list-group{:type => "A"}
        -question.options.shuffle.each do |option|
          %li=option.description.html_safe
    %td
      =link_to "Delete", "questions/#{question.id}", :method => :delete