-topics_array = SubTopic.all.map {|s_topic| [s_topic.name, s_topic.id]}
.container.centerBlock
  = form_for @question, :url => {:action => "create"}, :html => {:class => "nifty_form", role: "form"}do |f|
    .form-group
      %h4=f.label "Enter Question Body below:", class: "control-label col-sm-6"
      =f.cktext_area :description, class: "form-control input-lg", :ckeditor => {:toolbar => '', :class => 'mathJax'}
      %h4=f.label "Select Question Topic:", class: "control-label col-sm-3"
      =f.select :sub_topic, options_for_select(topics_array), class: "form-control"
    .form-group
      %h4=f.label "Upload Image if necessary:", class: "control-label col-sm-6"
      =f.file_field :image, class: "form-control input-sm-2"
    .form-group
      %h4=f.label "Enter Correct option:", class: "control-label col-sm-3"
      =cktext_area_tag :option1, "", placeholder: "Enter correct answer", class: 'form-control input-sm-4', :ckeditor => {:toolbar => 'mini'}
      =file_field_tag :option1_solution
    .form-group
      %h4=f.label "Enter all wrong options:", class: "control-label col-sm-6"
      .input-group
        =cktext_area_tag :option2, "", placeholder: "Enter other option", class: 'form-control input-lg', :ckeditor => {:toolbar => 'mini'}
        =file_field_tag :option2_solution
      .input-group
        =cktext_area_tag :option3, "", placeholder: "Enter other option", class: 'form-control input-lg', :ckeditor => {:toolbar => 'mini'}
        =file_field_tag :option3_solution
      .input-group
        =cktext_area_tag :option4, "", placeholder: "Enter other option", class: 'form-control input-lg', :ckeditor => {:toolbar => 'mini'}
        =file_field_tag :option4_solution
    = f.submit 'Create', class: 'btn btn-primary btn-sm-3'