.container.centerBlock
  .text-center
    %h1 Log in

  .row
    .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
      .panel.panel-default
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form'}) do |f|
            = devise_error_messages!

            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, placeholder: 'hello@youremail.com', class: 'form-control input-lg'

            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control input-lg'

            - if devise_mapping.rememberable?
              .form-group
                %label
                  = f.check_box :remember_me
                  = 'Remember me'

            = f.submit 'Log in', class: 'btn btn-primary btn-lg btn-block'

        .panel-footer
          
          = 'New? Register now by clicking '
          = link_to 'here', new_user_registration_path

/ <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
/   <div class="field">
/     <%= f.label :email %><br />
/     <%= f.email_field :email, autofocus: true %>
/   </div>

/   <div class="field">
/     <%= f.label :password %><br />
/     <%= f.password_field :password, autocomplete: "off" %>
/   </div>

/   <% if devise_mapping.rememberable? -%>
/     <div class="field">
/       <%= f.check_box :remember_me %>
/       <%= f.label :remember_me %>
/     </div>
/   <% end -%>

/   <div class="actions">
/     <%= f.submit "Log in" %>
/   </div>
/ <% end %>

/ <%= render "admins/shared/links" %>
