!!! 5
%html
  %head
    %title TestSeries
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#{root_url}admin/questions"} Questions List
          %li
            %a{:href => "#{root_url}admin/questions/new"} New Question
          %li
            %a{:href => "#"} Contact
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"}
              %span.glyphicon.glyphicon-log-in
              Login
      .container-fluid.text-center
        .row.content
          .col-sm-2.sidenav
            %p
              %a{:href => "#"} Link
            %p
              %a{:href => "#"} Link
            %p
              %a{:href => "#"} Link
          .col-sm-8.text-left
            = yield
          .col-sm-2.sidenav
            .well
              %p ADS
            .well
              %p ADS